body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
.navmenu {
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 600;
}
.logo {
  width: 35px;
  height: 35px;
}
.nav-left {
  display: flex;
  gap: 20px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.nav-right {
  display: flex;
  gap: 20px;

  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.dark-theme {
  width: 25px;
}
.search-container {
  width: 160px;
  height: 20px;
  padding: 5px 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  font-size: 16px;
  background-image: url(./Assets/search.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}
.down-btn {
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #0078d4;
}
.down-btn:hover {
  background-color: #0389ef;
}
.alert {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
strong {
  color: #0389ef;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.hero {
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}
.banner img {
  width: 800px;
  height: 500px;
}
.dialogue {
  background-color: rgba(0, 0, 0, 0.01);
  display: inline;
  text-align: center;
  padding: 5px 20px;
  border-radius: 40px;
  border: 1px solid gray;
}
h2 {
  font-size: 56px;
  font-weight: 600;
}
.down {
  font-size: 18px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 15px 16px;
  cursor: pointer;
  background-color: #0078d4;
}
.terms {
  font-size: 11px;
}
