* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Apply Poppins font globally */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
}

.head {
  text-align: center;
  margin: 50px 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 250px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
}

.addBtn {
  height: 40px;
  width: 60px;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

#content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin-top: 20px;
  background-color: #ecedf6;
  border-radius: 10px;
}

.todo-style {
  margin: 10px 0;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}

.todo-head {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  padding: 4px 15px;
  border-radius: 5px;
}

.check {
  zoom: 1.5;
}

.todo-btn {
  display: flex;
  gap: 10px;
  font-size: 36px;
}

.todo-btn button {
  border: none;
}

.icon {
  font-size: 20px;
  background-color: #ecedf6;
  padding: 7px;
  cursor: pointer;
}

.noHeadInvisible {
  display: none;
}

.update {
  position: fixed; /* Use fixed positioning to keep it centered relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offset by 50% of its own size to achieve centering */
  width: 350px;
  height: 250px;
  padding: 20px;
  background-color: #ecedf6;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
}

.update h1 {
  font-size: 25px;
  color: #001529;
  font-weight: 600;
}

.update-input {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  color: #001529;
}

.update-input input {
  height: 35px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.Btn-update {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.Btn-update button {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.update-btn1 {
  background-color: #646ff0;
  color: white;
  border: none;
  width: 120px;
}

.cancel-btn {
  background-color: #cccdde;
  color: #666681;
  border: none;
  width: 80px;
}

.blur,
.filter {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.updateShow {
  display: none;
}
